################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/MedicalTrackingSystem-Backend/.vs/MedicalTrackingSystem-Backend
